<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mypageMapper">
	<resultMap type="Board" id="BoardResultSet">
       <id property="board_id" column="BOARD_ID"/>
       <result property="account_id" column="ACCOUNT_ID"/>
       <result property="category_id" column="CATEGORY_ID"/>
       <result property="title" column="TITLE"/>
       <result property="content" column="CONTENT"/>
       <result property="create_date" column="CREATE_DATE"/>
       <result property="modify_date" column="MODIFY_DATE"/>
       <result property="count" column="COUNT"/>
       <result property="status" column="STATUS"/>
       <result property="product_status" column="PRODUCT_STATUS"/>
       <result property="trade_status" column="TRADE_STATUS"/>
       <result property="price" column="PRICE"/>
       <result property="exchange_status" column="EXCHANGE_STATUS"/>
       <result property="amount" column="AMOUNT"/>
       <result property="pull_date" column="PULL_DATE"/>
       <result property="price_status" column="PRICE_STATUS"/>
       <result property="area" column="AREA"/>
       <result property="renameFileName" column="RENAME_FILENAME"/>
       <result property="pk_Id" column="WISH_ID"/>
    </resultMap>
     
    <resultMap type="T_History" id="T_HistoryResultSet">
       <id property="t_history_id" column="T_HISTORY_ID"/>
          <result property="board_id" column="BOARD_ID"/>
          <result property="title" column="TITLE"/>
          <result property="price" column="PRICE"/>
          <result property="area" column="AREA"/>
          <result property="t_date" column="T_DATE"/>
          <result property="consumer_id" column="CONSUMER_ID"/>
          <result property="seller_id" column="SELLER_ID"/>
          <result property="status" column="STATUS"/>
          <result property="hide_status" column="HIDE_STATUS"/>
          <result property="rename_fileName" column="RENAME_FILENAME"/>
          <result property="modify_date" column="MODIFY_DATE"/>
          <result property="r_status" column="R_STATUS"/>
          <result property="pull_date" column="PULL_DATE"/>
    </resultMap>
    
    <resultMap type="Account" id="AccountResultSet">
    	<id property="aid" column="ACCOUNT_ID"/>
       	<result property="pwd" column="PWD"/>
       	<result property="name" column="NAME"/>
       	<result property="phone" column="PHONE"/>
       	<result property="email" column="EMAIL"/>
       	<result property="address" column="ADDRESS"/>
       	<result property="status" column="STATUS"/>
       	<result property="mstatus" column="M_STATUS"/>
       	<result property="sanctions" column="SANCTIONS"/>
       	<result property="authKey" column="authKey"/>
       	<result property="createDate" column="CREATE_DATE"/>
    </resultMap>
    
    <resultMap type="Chat" id="ChatResultSet">
		<id property="chat_id" column="CHAT_ID"/>
		<result property="accountId" column="ACCOUNT_ID"/>
		<result property="accountId2" column="ACCOUNT_ID2"/>
	</resultMap>

    <select id="selectWishListCount" parameterType="string" resultType="_int">
	    SELECT
	    	COUNT(*)
	    FROM
	    	WISH
	    WHERE
	    	ACCOUNT_ID = #{account_id}
    </select>
    
    <select id="selectWishList" parameterType="string" resultMap="BoardResultSet">
	    SELECT 
			  B.BOARD_ID
		    , B.ACCOUNT_ID
		    , B.CATEGORY_ID
		    , B.TITLE
		    , B.CONTENT
			, B.CREATE_DATE
			, B.MODIFY_DATE
			, B.COUNT
			, B.STATUS
			, B.PRODUCT_STATUS
			, B.TRADE_STATUS
			, B.PRICE
			, B.EXCHANGE_STATUS
			, B.AMOUNT
			, B.PULL_DATE
			, B.PRICE_STATUS
			, B.AREA
	        , I.RENAME_FILENAME
	        , W.WISH_ID
			
		FROM BOARD B
			JOIN WISH W ON(B.BOARD_ID = W.BOARD_ID)
	        JOIN IMAGE I ON(B.BOARD_ID = I.BOARD_ID)
		WHERE
			W.ACCOUNT_ID = #{account_id}
	        AND I.FILE_LEVEL = 0
			AND B.STATUS = 'Y'
		ORDER BY
				WISH_ID DESC
    </select>
    
    <delete id="deleteWish" parameterType="_int">
	    DELETE
	    FROM 
	    	WISH
	    WHERE
	    	WISH_ID = #{pk_Id}   
    </delete>
    
    <select id="selectPHListCount" parameterType="string" resultType="_int">
    	SELECT
    		COUNT(*)
    	FROM
    		T_HISTORY
    	WHERE
    		CONSUMER_ID = #{consumer_id}
    		AND STATUS = 'Y'
    		
    </select>
    	
    <select id="selectPHList" parameterType="string" resultMap="T_HistoryResultSet">
	    SELECT
		    	T_HISTORY_ID
		      , T.BOARD_ID
		      , B.TITLE
		      , B.PRICE
		      , B.AREA
		      , T.T_DATE
		      , T.CONSUMER_ID
		      , T.SELLER_ID
		      , T.STATUS
		      , T.HIDE_STATUS
		      , I.RENAME_FILENAME
		      , T.R_STATUS
		FROM
			    T_HISTORY T 
			    JOIN BOARD B ON(T.BOARD_ID = B.BOARD_ID)
			    JOIN IMAGE I ON (B.BOARD_ID = I.BOARD_ID)
		WHERE
			    CONSUMER_ID = #{consumer_id}
			    AND FILE_LEVEL = 0
		ORDER BY 
				T_HISTORY_ID DESC
    	
    </select>
    
    <update id="deleteT_History" parameterType="_int">
   		UPDATE
   			T_HISTORY
   		SET
    		STATUS = 'N'
    	WHERE
    		T_HISTORY_ID = #{t_history_id}
    </update>
    
    <update id="depeteBoard" parameterType="_int">
	    UPDATE
	    	BOARD
		SET
		    STATUS = 'N'
		WHERE
		    BOARD_ID = 
			    (SELECT
			        BOARD_ID
			     FROM
			        T_HISTORY
			     where
			        T_HISTORY_ID = #{T_HISTORY_ID})
    </update>
    
    <select id="selectHiddenListCount" parameterType="string" resultType="_int">
    	SELECT
    		COUNT(*)
    	FROM
    		T_HISTORY
    	WHERE 
    		HIDE_STATUS = 'Y' 
   			AND SELLER_ID = #{seller_id}
    </select>
    
    <select id="selectHiddenList" parameterType="string" resultMap="T_HistoryResultSet">
		SELECT
		    	T_HISTORY_ID
		      , T.BOARD_ID
		      , B.TITLE
		      , B.PRICE
		      , B.AREA
		      , T.CONSUMER_ID
		      , T.SELLER_ID
		      , T.STATUS
		      , T.HIDE_STATUS
		      , I.RENAME_FILENAME
		      , B.MODIFY_DATE
		FROM
			    T_HISTORY T 
			    JOIN BOARD B ON(T.BOARD_ID = B.BOARD_ID)
			    JOIN IMAGE I ON (B.BOARD_ID = I.BOARD_ID)
		WHERE
			    SELLER_ID = #{seller_id}
			    AND FILE_LEVEL = 0
			    AND T.HIDE_STATUS = 'Y'
		ORDER BY 
				T_HISTORY_ID DESC
    </select>
    
    
    <update id="unHide" parameterType="_int">
	   	UPDATE
			T_HISTORY
	   	SET
	   		HIDE_STATUS = 'N'
	   	WHERE
	   		T_HISTORY_ID = #{t_history_id}
	    
    </update>
    
    <select id="selectSalesListCount" parameterType="string" resultType="_int">
    	SELECT
    		COUNT(*)
    	FROM
    		T_HISTORY
    	WHERE 
   			HIDE_STATUS = 'N'
    		AND SELLER_ID = #{seller_id}
    </select>
    
    <select id="selectSalesList" parameterType="string" resultMap="T_HistoryResultSet">
		SELECT
		    	T_HISTORY_ID
		      , T.BOARD_ID
		      , B.TITLE
		      , B.PRICE
		      , B.AREA
		      , T.CONSUMER_ID
		      , T.SELLER_ID
		      , T.STATUS
		      , T.HIDE_STATUS
		      , I.RENAME_FILENAME
		      , B.MODIFY_DATE
		      , T.R_STATUS
		      , B.PULL_DATE
		FROM
			    T_HISTORY T 
			    JOIN BOARD B ON(T.BOARD_ID = B.BOARD_ID)
			    JOIN IMAGE I ON (B.BOARD_ID = I.BOARD_ID)
		WHERE
			    SELLER_ID = #{seller_id}
			    AND FILE_LEVEL = 0
			    AND B.STATUS = 'Y'
			    AND T.HIDE_STATUS = 'N'
		ORDER BY 
				T_HISTORY_ID DESC
    </select>
    
    <update id="statusUpdate" parameterType="T_Status">
	    UPDATE
	    	T_HISTORY
	    SET
	    	STATUS = #{status}
	    WHERE
	    	T_HISTORY_ID = #{t_history_id}
	    
    </update>
    
    <select id="matchesPwd" parameterType="Account" resultType="string">
    SELECT
			PWD
    FROM
    	ACCOUNT
    WHERE
    	ACCOUNT_ID = #{aid}
    </select>
    
    <select id="memberInfo" parameterType="Account" resultMap="AccountResultSet">
    	SELECT
	    	  ACCOUNT_ID
		    , NAME
		    , PHONE
		    , EMAIL
		    , ADDRESS
		    , STATUS
		    , M_STATUS
		    , SANCTIONS
		    , AUTHKEY
		    , CREATE_DATE
	    FROM
	    	ACCOUNT
	    WHERE
	    	ACCOUNT_ID = #{aid}
    </select>
    
    <update id="deleteMember" parameterType="string">
    	UPDATE
    		ACCOUNT
    	SET
    		STATUS = 'N'
    	WHERE
    		ACCOUNT_ID = #{aid}
    </update>
    
    <update id="updateMember1" parameterType="Account">
    	UPDATE
    		ACCOUNT
    	SET
    		PWD = #{pwd}
    	  , PHONE = #{phone}
    	  , ADDRESS = #{address}
		WHERE
			ACCOUNT_ID = #{aid}
    
    </update>
    
    <update id="updateMember2" parameterType="Account">
    	UPDATE
    		ACCOUNT
    	SET
    	    PHONE = #{phone}
    	  , ADDRESS = #{address}
		WHERE
			ACCOUNT_ID = #{aid}
    
    </update>
    
    <update id="updateR_Status" parameterType="_int">
    	UPDATE
    		T_HISTORY
    	SET
    		R_STATUS = 'Y'
    	WHERE
    		T_HISTORY_ID = #{t_history_id}
    </update>
    
    <update id="updatePull_Date" >
    	UPDATE
    		BOARD
    	SET
    		PULL_DATE = SYSDATE
    	WHERE
    		BOARD_ID = #{board_id}
    </update>
    <select id="selectConsumer" parameterType="Account" resultMap="ChatResultSet">
	    SELECT
	    	ACCOUNT_ID
	      , ACCOUNT_ID2
	    FROM
	    	CHAT
	    WHERE
    		ACCOUNT_ID = #{aid}
    	   OR
    		ACCOUNT_ID2 = #{aid}	
    </select>
    
    <update id="T_Complete" parameterType="Chat">
    	UPDATE
    		T_HISTORY
    	SET
    		CONSUMER_ID = #{consumer_id}
    	WHERE
    		T_HISTORY_ID = #{t_history_id}
    </update>
    
    <update id="Hide" parameterType="_int">
    	UPDATE
    		T_HISTORY
    	SET
    		HIDE_STATUS = 'Y'
    	WHERE
    		T_HISTORY_ID = #{t_history_id}
    </update>
    
    <select id="getbid" parameterType="_int" resultType="_int">
    	SELECT
    			BOARD_ID
    	  FROM
    	  		T_HISTORY
    	 WHERE
    	 		T_HISTORY_ID = #{tid}
    </select>
    <update id="updateBoard" parameterType="_int">
    	UPDATE
    			BOARD
    	   SET
    	   		STATUS = 'N'
    	 WHERE
    	 		BOARD_ID = #{bid}
    </update>
    
</mapper>	
