<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-// mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qnaMapper">
	<resultMap id="qnaResultSet" type="Qna2">
		<id property="qid" column="QNA_ID"/>
		<result property="aid" column="ACCOUNT_ID"/>
		<result property="qtitle" column="Q_TITLE"/>
		<result property="qcontent" column="Q_CONTENT"/>
		<result property="atitle" column="A_TITLE"/>
		<result property="acontent" column="A_CONTENT"/>
		<result property="status" column="STATUS"/>
		<result property="astatus" column="A_STATUS"/>
		<result property="star" column="STAR"/>
		<result property="createDate" column="CREATE_DATE"/>
	</resultMap>
	
	<select id="selectQlistCount" resultType="_int">
		SELECT
			COUNT(*)
		FROM
			QNA
		WHERE
			STATUS = 'Y'
	</select>

	<select id="selectQlist" resultMap="qnaResultSet">
		SELECT
		    QNA_ID
		  , ACCOUNT_ID
		  , Q_TITLE
		  , Q_CONTENT
		  , A_TITLE
		  , A_CONTENT
		  , STATUS
		  , A_STATUS
		  , STAR
		FROM
			QNA
		WHERE
			STATUS = 'Y'
		ORDER BY
			QNA_ID DESC
	</select>
	
	<insert id="insertQna" parameterType="Qna2">
		INSERT
		INTO QNA
		(
			QNA_ID
		  , ACCOUNT_ID
		  , Q_TITLE
		  , Q_CONTENT
		  , STATUS
		)
		VALUES
		(
			SEQ_QID.NEXTVAL
		  , #{aid}
		  , #{qtitle}
		  , #{qcontent}
		  , DEFAULT
		)
	</insert>
	
	<select id="selectQboard" parameterType="_int" resultMap="qnaResultSet">
		SELECT
		    QNA_ID
		  , ACCOUNT_ID
		  , Q_TITLE
		  , Q_CONTENT
		  , A_TITLE
		  , A_CONTENT
		  , STATUS
		  , A_STATUS
		  , STAR
		FROM
			QNA
		WHERE
			QNA_ID = #{qid}
		AND	STATUS = 'Y'
	</select>

	<update id="updateQna" parameterType="Qna2">
		UPDATE
			QNA
		SET
			Q_TITLE = #{qtitle}
		  , Q_CONTENT = #{qcontent}
		WHERE
			QNA_ID= #{qid}
	</update>
	
	<update id="deleteQna" parameterType="_int">
		UPDATE
			QNA
		SET
			STATUS = 'N'
		WHERE
			QNA_ID = #{qid}
	</update>
</mapper>